<?php

return [
   'telegram' => [
        // Add you bot's API key
        'bot_token' => '',
        // Bot WebHook
        'webhook_url' => '',
        // if specified, system search messages.$lang.php, if not specified or not exist, try to use messages.php
        'lang' => 'en',
        'commands' => [
            ZabbixBot\Commands\StartCommand::class,
            ZabbixBot\Commands\HelpCommand::class,
        ],
        'user_commands' => [
            ZabbixBot\Commands\PingCommand::class,
        ],
    ],
    'zabbix' => [
        'host' => '',
        'apikey' => '',
    ],
    'logger' => [
        'file_path' => LOG_PATH,
        'main_name' => 'main.log',
        'main_level' => 'info',
        'user_level' => 'info',
    ],
    // move here from Messages due to messages fail into loop in load
    // call function emoji() initiate load message files
    // when files try to load on second, requre_once return true and clear all previous set
    'emoji' => [
        'warn' => "\xE2\x9A\xA0",
        'satelite' => "\xF0\x9F\x93\xA1",
    ],
];
